{% extends 'base.html' %}
{% load static %}
{% block title %}Unity > Delimiter{% endblock %}

{% block body %}
<div class="container pt-5 my-3 p-3 rounded shadow-sm container-theme">
    <div class="media pt-3">
        <img src="{% static '/main/img/unity/delimiter_logo.png' %}"
             class="align-self-center mr-3 w-25 rounded" alt="Delimiter">
        <div class="media-body">
            <p>В этой простой, но очень интересной математической игре тебе придётся искать числа, которые делятся друг
                на друга без остатка.</p>
            <a href="https://play.google.com/store/apps/details?id=com.Laboratory15.Delimiter" target="_blank">
                <img src="{% static '/main/img/unity/google_play_link.png' %}" class="float-left w-25" alt="Download">
            </a>
        </div>
    </div>

    <div class="alert my-3 alert-theme">
        <b>Повысь свой уровень мастерства в делении.</b> Во время игры тебя всегда будет подгонять таймер. Чем больше
        играете, тем быстрее течет время, но есть и положительная сторона – ты зарабатываешь больше очков.<br/><br/>
        <b>Проводите свободное время со смыслом.</b> Повысь свои умственные способности! Практикуй свои знания
        математики и чувствуй себя уверенно в стандартных тестах: IQ (тест на IQ), ЕГЭ, ГИА, ОГЭ, ГДЗ и др.
        Проводите время с пользой. Отдыхайте и тренируйтесь! Математика — это просто!<br/><br/>
        <b>Система рекордов.</b> Кто лучше справится с этой головоломкой? Соревнуйся с друзьями и со всем миром!<br/><br/>
        <b>Темы в комплекте.</b> Играть становится еще веселее, когда есть выбор тем.<br/><br/>

        <div class="container">
            <div class="row">
                <div class="col"><img src="{% static '/main/img/unity/delimiter_scr01.png' %}"
                                      class="d-block w-100 rounded" alt="Delimiter Scr 01"></div>
                <div class="col"><img src="{% static '/main/img/unity/delimiter_scr02.png' %}"
                                      class="d-block w-100 rounded" alt="Delimiter Scr 02"></div>
                <div class="col"><img src="{% static '/main/img/unity/delimiter_scr03.png' %}"
                                      class="d-block w-100 rounded" alt="Delimiter Scr 03"></div>
                <div class="col"><img src="{% static '/main/img/unity/delimiter_scr04.png' %}"
                                      class="d-block w-100 rounded" alt="Delimiter Scr 04"></div>
            </div>
        </div>
    </div>

    <div class="medium text-muted" align="right">
        <a href="{% url 'unity_pp' 'delimiter' %}" target="_blank">Privacy Policy</a>
    </div>
</div>
{% endblock %}