{% extends 'base.html' %}
{% load static %}
{% block title %}Дни рождения{% endblock %}

{% block body %}
<div class="container pt-5 my-3 p-3 rounded shadow-sm container-theme">
    <h4 class="border-bottom pb-2 mb-2">Дни рождения
    <a href="{% url 'birthdays' 'month' %}" class="btn btn-success">Месяц</a>
    <a href="{% url 'birthdays' 'all' %}" class="btn btn-warning">Все</a>
    <a href="{% url 'birthdays' 'm' %}" class="btn btn-info">М</a>
    <a href="{% url 'birthdays' 'w' %}" class="btn btn-primary">Ж</a></h4>
    <table class="table table-hover table-striped table-bordered table-sm small table-secondary">
        <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col" width="50%">Имя</th>
                <th scope="col" width="5%">Пол</th>
                <th scope="col" width="10%">ДР</th>
                <th scope="col" width="10%">Check</th>
                <th scope="col" width="10%">Примечание</th>
            </tr>
        </thead>
        <tbody>
            {% for el in birthdays %}
            <tr>
                <td><a href="/birthdays/{{ el.id }}/update">[{{ el.age }}] {{ el.name }}</a></td>
                <td class="text-center">
                    {% if el.male == True %}
                        <img src="{% static '/birthdays/img/male.png' %}" alt="" width="15" height="15">
                    {% else %}
                        <img src="{% static '/birthdays/img/female.png' %}" alt="" width="15" height="15">
                    {% endif %}
                </td>
                <td class="text-center">{{ el.birthdate|date:"d-m-Y" }}</td>
                <td class="text-center">
                    {% if el.birthdate_checked == True %}
                        <img src="{% static '/birthdays/img/checked.png' %}" alt="" width="15" height="15">
                    {% else %}
                        <img src="{% static '/birthdays/img/non_checked.png' %}" alt="" width="15" height="15">
                    {% endif %}
                </td>
                <td class="text-center">{{ el.comment }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}