body {
  background-color: #E0E0E0;
  background-image: url("/static/img/bg_white.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h4, h6 {
  color: #383838;
}

.border-bottom {
  border-bottom:1px solid #DEE2E6;
}

.container-theme {
  background: rgba(255, 255, 255, .7);
  color:#6C757D;
}

.alert-theme {
  background: rgba(239, 239, 239, 0.9);
  color:#6C757D;
}