body {
    background-color: #001212;
    background-image: url("/static/img/bg_dark.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h4, h6 {
    color: #CCCCCC;
}

.border-bottom {
    border-bottom: 1px solid #6C757D;
}

.container-theme {
    background: rgba(0, 18, 18, .7);
    color: #CCCCCC;
}

.alert-theme {
    background: rgba(0, 18, 18, .3);
    color: #BDBDBD;
}

.carousel {
  margin: 0 auto;
}

.card-theme {
    background: rgba(0, 18, 18, .8);
}
