{% extends 'base.html' %}
{% block title %}Аккорды | {{ instrument }}{% endblock %}

{% block body %}
<div class="container pt-5 my-3 p-3 rounded shadow-sm container-theme">
    <h4 class="border-bottom pb-2 mb-2 border-gray">Список аккордов ({{ instrument }})</h4>
    <table class="table table-hover table-striped table-bordered table-sm small text table-secondary">
        <tbody>
        {% for song in songs %}
            <tr>
                <td><a href="{% url 'song' song_id=song.id %}">{{ song.song_name }}</a>
                [{{ song.get_song_chords_str }}]</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
