{% extends 'base.html' %}
{% block title %}Аккорды | {{ instrument }}{% endblock %}

{% block body %}
<!-- Posts -->
<div class="container pt-5 my-3 p-3 bg-white rounded shadow-sm">
    <h4 class="border-bottom border-gray pb-2 mb-0">Список аккордов ({{ instrument }})</h4>
    <table class="table table-hover table-striped table-bordered table-sm small text">
        <tbody>
        {% for song in songs %}
            <tr class="">
                <td><a class="text-decoration-none" href="{% url 'song' song_id=song.id %}">{{ song.song_name }}</a>
                [{{ song.get_song_chords_str }}]</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
